.columns-intro > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.columns-intro > div > div:first-child {
  font-size: var(--body-font-size-m);
  line-height: 1.65;
}

.columns-intro > div > div:last-child h2 {
  font-size: 20px;
  border-bottom: none;
  padding-bottom: 0;
  margin-top: 0;
}

.columns-intro > div > div:last-child ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.columns-intro > div > div:last-child li {
  margin-bottom: 0;
}

.columns-intro a.social-icon {
  display: block;
  text-decoration: none;
}

.columns-intro a.social-icon img {
  display: block;
  width: 38px;
  height: 38px;
}

@media (width >= 900px) {
  .columns-intro > div {
    flex-direction: row;
    align-items: flex-start;
  }

  .columns-intro > div > div:first-child {
    flex: 2;
  }

  .columns-intro > div > div:last-child {
    flex: 1;
  }
}
