/* stylelint-disable max-line-length */

/* Lato - Headings */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Noto Sans - Body */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Fallback fonts with size adjustments */
@font-face {
  font-family: lato-fallback;
  size-adjust: 97.5%;
  src: local('Arial');
}

@font-face {
  font-family: noto-sans-fallback;
  size-adjust: 100.5%;
  src: local('Arial');
}
